@page "/contacts/create"
@inject IDbContextFactory<AppDBContext> DbFactory
@inject NavigationManager NavigationManager
@inject IHttpContextAccessor HttpContextAccessor
@attribute [Authorize]

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Person</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Person" OnValidSubmit="AddPerson" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <div class="mb-3 form-floating">
                <InputText id="firstname" @bind-Value="Person.FirstName" class="form-control" placeholder=" "/> 
                <label for="firstname" class="">First Name</label> 
                <ValidationMessage For="() => Person.FirstName" class="text-danger" /> 
            </div>        
            <div class="mb-3 form-floating">
                <InputText id="lastname" @bind-Value="Person.LastName" class="form-control" placeholder=" "/> 
                <label for="lastname" class="form-label">Last Name</label> 
                <ValidationMessage For="() => Person.LastName" class="text-danger" /> 
            </div>        
            <div class="mb-3 form-floating">
                <InputText id="tel" @bind-Value="Person.Tel" class="form-control" placeholder=" " /> 
                <label for="tel" class="form-label">Telephone</label> 
                <ValidationMessage For="() => Person.Tel" class="text-danger" /> 
            </div>        
            <div class="mb-3 form-floating">
                <InputText id="email" @bind-Value="Person.Email" class="form-control" placeholder=" " /> 
                <label for="email" class="form-label">Email</label>                 
                <ValidationMessage For="() => Person.Email" class="text-danger" /> 
            </div>        
            <div class="mb-3 ">            
                <InputCheckbox id="isref" @bind-Value="Person.IsRef" class="form-check-input" /> 
                <label for="isref" class="form-label">Is Referee</label> 
            </div>        
            <button class="btn btn-primary" type="submit">Save</button>
            <a class="btn btn-secondary" href="#" onclick="history.back()">Back</a>

        </EditForm>
    </div>
</div>

<div>

</div>

@code {
    [SupplyParameterFromForm]
    private Person Person { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddPerson()
    {
        using var context = DbFactory.CreateDbContext();
        context.Person.Add(Person);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/contacts");
    }
}
