@page "/fixtures/create"

@using FixtureManagementV3.Models
@using FixtureManagementV3.Data
@inject IDbContextFactory<AppDBContext> DbFactory
@inject NavigationManager NavigationManager
@attribute [Authorize]

<PageTitle>Create</PageTitle>

<h1>New Fixture</h1>
<hr />
<div class="row">
    <div class="col-md-3">
        <EditForm method="post" Model="Fixture" OnValidSubmit="AddFixture" FormName="create" Enhance>
            <input type="hidden" name="Fixture.Id" @bind-value="@Fixture!.Id" />
            <DataAnnotationsValidator />
            <div class="mb-3 form-floating">
                <InputSelect id="teamid" @bind-Value="Fixture.TeamId" class="form-control form-select">
                    @foreach (var team in teamList)
                    {
                        <option value="@team.Id">@team.DisplayName</option>
                    }
                </InputSelect> 
                <label for="teamid" class="form-label">Team</label>                 
            </div>        
            <div class="mb-3 form-floating">
                <InputDate id="date" @bind-Value="Fixture.Date" class="form-control" /> 
                <label for="date" class="form-label">Date</label> 
            </div>        
            <div class="mb-2 form-check">
                <label for="ishome" class="form-label">Home</label> 
                <InputCheckbox id="ishome" @bind-Value="Fixture.IsHome" class="form-check-input" /> 
            </div>
            <div class="mb-3 form-floating">
                <InputSelect id="fixturetype" @bind-Value="Fixture.FixtureType" class="form-control form-select"> 
                    @foreach (var ftype in Enum.GetValues(typeof(FixtureType)))
                    {
                        <option value="@ftype">@ftype</option>
                    }
                </InputSelect>
                <label for="fixturetype" class="form-label">Fixture Type</label>
            </div>  
            <div class="mb-3 form-floating">
                <InputText id="opponent" autofocus @bind-Value="Fixture.Opponent" class="form-control"  placeholder="" aria-required="true"/>                     
                <label for="opponent" class="form-label">Opponent</label> 
                <ValidationMessage For="() => Fixture.Opponent" class="text-danger" /> 
            </div> 
             @* <div class="mb-3 form-floating">
                <InputText id="lastname" @bind-Value="Person.LastName" class="form-control" placeholder=" "/> 
                <label for="lastname" class="form-label">Last Name</label> 
                <ValidationMessage For="() => Person.LastName" class="text-danger" /> 
            </div>     *@
            <button type="submit" class="btn btn-primary btn">Save</button>
            <a href="#" onclick="history.back()" class="btn btn btn-secondary">Back</a>
        </EditForm>
    </div>
</div>

<div>
    <br

</div>

@code {
    [SupplyParameterFromForm]
    private Fixture? Fixture { get; set; }

    private IQueryable<Team> teamList = default!;
        
    protected override async Task OnInitializedAsync()
    {
            using var context = DbFactory.CreateDbContext();

            teamList = (await context.Team
            .ToListAsync())
            .OrderBy(t => t.AgeGroup)
            .ThenBy(t => t.Gender)
            .ThenBy(t => t.Name)
            .AsQueryable();

            if (Fixture is null && teamList.Count() != 0) {
                Fixture = new Fixture { Id = Guid.NewGuid(),  TeamId = teamList.First().Id, Date = DateOnly.FromDateTime(DateTime.Now), FixtureType = FixtureType.League, IsHome = true, Opponent="" };
            }

    }

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddFixture()
    {

        using var context = DbFactory.CreateDbContext();
        context.Fixture.Add(Fixture!);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/fixtures");
    }
}
