@using FixtureManagementV3.Models

<h3>TestForm</h3>
@* 
<EditForm method="post" Model="TeamContacts" OnValidSubmit="" FormName="edit" Enhance>

@code {
[Parameter] 
public TeamContact[] TeamContacts { get; set; } = default!;

} *@
