@page "/test"
@attribute [Authorize(Roles = "Admin")]
<h3>Settings</h3>

<EditForm Model="model">
    <label>Input Date</label>
    <InputDate @bind-Value="model.date" class="form-control" style="display: inline"></InputDate>
</EditForm>

@code {
    public Model model {get; set;} = new Model {date = new DateOnly(2025, 01, 10)};


    public record Model {
        public DateOnly date {get; set; } = new DateOnly(2025, 01, 10);
    }
}

